@import url(normalize.css);

@font-face {
    font-family: BYekan;
    src: url(../fonts/BYekan.eot) format('eot'),
    url(../fonts/BYekan.woff) format('woff'),
    url(../fonts/BYekan.ttf) format('truetype');
}

body {
    position: relative;
    direction: rtl;
    background-color: #F5F5F5;
    font-size: 16px;
    font-family: BYekan;
}

a {
    text-decoration: none;
    color: inherit;
}

.main {
    width: 100%;
    max-width: 1680px;
    margin: auto;
}

.clear {
    clear: both;
}

img {
    width: 100%;
}

:root {
    --swiper-navigation-size: 30px;
}

h1 {
    display: inline-block;
    color: black;
    font-size: 2em;
    line-height: 50px;
}

h2 {
    color: white;
    font-size: 2em;
    text-align: center;
    padding: 24px;
}

footer {
    background-color: #010306;
    height: 300px;
    width: 100%;
    margin-top: 50px;
}
main{
    position: relative;
}

/*------------------------------------------------------------navigation---------------------------------------------------------------------------------------*/
nav {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
ul.bar {
    height: 45px;
    position: relative;
}

div.nav-back {
    height: 45px;
    background-color: #010306;
}

li.bar {
    display: inline-block;
    cursor: pointer;
    padding-right: 0.8%;
    padding-left: 0.8%;
    position: relative;
    width: 30px;
    padding-top: 6px;
}


li.bar:first-child {
    margin-right: 3%;
}

#catalog img {
    cursor: pointer;
    padding-bottom: 4px;
}

li.bar:hover .dark {
    display: none;
}

li.bar:hover .light {
    display: block;
}

li.bar .dark {
    width: 100%;
}

li.bar .light {
    display: none;
}

.mainlogo {
    position: absolute;
    top: 4px;
    left: 3%;
    width: 165px;
}
/*------------------------------------------------------dashboard--------------------------------------------------------------------------------------------------*/
.dashboard{
    width: 100%;
    background-color: rgb(0,0,0);
    color: darkgrey;
    font-size: 1.2em;
    border-top: 1px solid rgba(255,255,255,0.4);
    height:45px;
    z-index: 999;
    opacity: 100%;
    position: fixed;
    top: 45px;
    display: none;
}
.dashboard-wrapper{
    padding-top:0;
    opacity: 0;

}
.dashboard-slider{
    width:80%;
    height: 45px;
}

.dashboard-slider .swiper-slide span{
    display: block;
    text-align: center;
    height: 100%;
    padding-top: 12px;
    transition: color 400ms,background-color 400ms;
}
.dashboard-slider .swiper-slide span:active{
    color: darkgrey;
    background-color: #F7F7F7;
}

.swiper-button-next-ds, .swiper-button-prev-ds {
    color: darkgrey;
    transition: right 200ms, left 200ms;
}

.swiper-button-next-ds{
    left: 0!important;
}
.swiper-button-prev-ds{
    right: 0!important;
}
.swiper-button-prev-ds:hover {
    color: white;
}

.swiper-button-next-ds:hover {
    color: white;
}
.dashboard-sublist-wrapper{
    background-color: #F7F7F7;
    display: none;
    color: darkgrey;
    position: fixed;
    height: 500px;
    width:1200px;
    top:90px;
    left: 50%;
    margin-left: -600px;
    z-index: 999;
}
.dashboard-sublist-wrapper ul{
    padding-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}
.dashboard-sublist-wrapper li{
    text-align: right;
    font-size: 1em;
    padding-right: 20px;
    line-height: 1.8em;
    height: 1.8em;;
    width: 20%;

}
.dashboard-sublist-wrapper li.sublist-title{
    color: #575757;
    font-size: 1.2em;
}



/*------------------------------------------------------homepage slider--------------------------------------------------------------------------------------------------*/
div.slider-container {
    margin-top: 0;
    box-sizing: border-box;
    border-top: 0.2vh solid transparent;
}

.swiper1 {
    width: 100%;
    background-color: transparent;
}

.swiper-pagination-bullet {
    background-color: white;
    width: 10px;
    height: 10px;
}

.swiper-button-next1, .swiper-button-prev1 {
    color: white;
    transition: right 200ms, left 200ms;

}

.swiper-button-prev1:hover {
    right: 5px;
}

.swiper-button-next1:hover {
    left: 5px;
}

/*------------------------------------------------------!*headline*!--------------------------------------------------------------------------------------------------*/
.headline::before {
    background: #010306;
    content: "";
    display: block;
    height: 2px;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
    width: 60px;
}

.headline-wrapper {
    margin:auto;
    max-width: 1680px;
    padding-top: 40px;
    padding-bottom: 50px;
}

.headline-wrapper p {
    font-size: 1.2em;
    line-height: 30px;
    max-width: 70%;
}

/*------------------------------------------------------!*parts*!--------------------------------------------------------------------------------------------------*/
ul.parts {
    display: block;
    margin-top: 1vh;
}

ul.parts > li {
    display: list-item;
    float: right;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    overflow: hidden;
    position: relative;
    background-color: transparent;
}

ul.parts > li > div {
    background-color: transparent;
}

div.brand-subtitle {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 5px;
    color: white;
    overflow: hidden;
    transition: height 1000ms, background-color 1000ms;
    padding-right: 10px;
}

div.brand-subtitle p {
    font-size: 1.2em;
    opacity: 0;
    line-height: 30px;
    max-width: 400px;
}


div.brand-subtitle span {
    font-size: 1.7em;
    line-height: 40px;
}


/*------------------------------------------------------product-slider--------------------------------------------------------------------------------------------------*/
div.background {
    height: 280px;
    background-color: #D22131;
    margin-top: 40px;
    position: relative;
}
.product-slider-heading-wrapper{
    width: 80%;
    margin: auto;
    position: relative;
}
.product-slider-heading{
    position: relative;
    float: right;
    padding: 20px 20px 24px 15px;
}
.product-slider-heading::after{
    content: "";
    height: 30px;
    background-color: darkgrey;
    opacity: 0.3;
    width: 2px;
    display: block;
    position: absolute;
    right: 100%;
    top: 30%;
}
.whatch-all-link{
    font-size: 1.3em;
    color: white;
    opacity: 0.8;
    float: right;
    margin-top: 25px;
    margin-right: 20px;
}
.whatch-all-link:hover{
    opacity: 1;
}
.arrow{

    vertical-align: 10%;
}

.product-slider {
    width: 90%;
}

.product-slider .swiper-slide li {
    width: 85%;
    display: block;
    margin: auto;
    padding-top: 10px;
}

.product-slider .swiper-slide {
    text-align: right;
    font-size: 1.2em;
    background: #fff;
    border-radius: 3%;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: center;
    justify-content: right;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.product-price {
    float: left;
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 20px;
}

.product-slider .swiper-slide p {
    line-height: 1.5em;
}

.product-slider .swiper-slide span {
    margin-right: 1px;
    margin-left: 0;
}

.discount-percent {
    background-color: red;
    border-radius: 42%;
    text-align: center;
    color: white;
    font-size: 1em;
    padding: 2px 5px 2px 5px;
}

.previous-price {
    text-decoration: line-through;
    opacity: 60%;
    font-size: 0.8em;
    padding-left: 4px;
}

.unit {
    font-size: 0.8em;
    padding-right: 0;
}

.swiper-button-next-ps, .swiper-button-prev-ps {
    color: #D22131;
    width: 50px;
    height: 50px;
    border: 2px solid #D22131;
}

.swiper-button-next-ps {
    left: 0 !important;
}

.swiper-button-prev-ps {
    right: 0 !important;
}

/*-------------------------------------------------------------------brand slider------------------------------------------------------------------------------------*/
.brands {
    color: #010306;
    padding-bottom: 10px;
}

.brand-container {
    margin-top: 200px;
}

.swiper3 {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.swiper3 li {
    display: block;
    width: 100%;
    float: right;
}

/*---------------------------------------------------------------------laptops----------------------------------------------------------------------------------------*/
@media screen and (min-width: 1280px) {
    ul.parts > li.ajil-wraper {
        width: 66.6666%;
        margin-top: 1px;
    }
    .headline-wrapper p, .headline-wrapper h1{
        margin-right: 10%;
    }

    ul.parts > li.sport-wraper {
        width: 33.3334%;
    }

    ul.parts > li.odkolon-wraper {
        width: 33.3334%;
    }

    ul.parts > li.style-wraper, ul.parts > li.digital-wraper {
        width: 50%;
    }

    .swiper-pagination-bullet {
        background-color: white;
        width: 15px;
        height: 15px;
    }

    .product-slider {
        width: 80%;
    }

    .swiper3 {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }

    ul.parts > li:hover div.brand-subtitle {
        height: 105px;
        background-color: rgba(0, 0, 0, 0.8);
    }
}

/*-----------------------------------------------------------------------tablets------------------------------------------------------------------------------------------*/
@media screen and (min-width: 768px)
and (max-width: 1279px) {
    body {
        font-size: 15px;
    }

    ul.parts > li {
        width: 50%;
    }

    ul.parts > li.digital-wraper {
        float: none;
        margin: auto;
    }

    :root {
        --swiper-navigation-size: 35px;
    }

    .product-slider {
        width: 80%;
    }

    .swiper-button-next-ps, .swiper-button-prev-ps {
        color: black;
        width: 40px;
        height: 40px;
        border: 2px solid black;
    }

    .swiper3 {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }

    .headline-wrapper p {
        font-size: 1.2em;
        line-height: 30px;
        max-width: 80%;
    }

    .headline-wrapper {
        margin-right: 5%;
    }
    ul.bar .laptop {
        display: none;
    }

    #catalog {
        float: right;
        margin-top: 6px;
    }

    #buybag {
        float: left;
        margin-left: 3%;
    }

    .mainlogo {
        position: static;
        margin: auto;
        padding-top: 6px;
        width: 140px;


    }


}

/*-------------------------------------------------------------------------mobiles------------------------------------------------------------------------------------------*/
@media screen and (max-width: 767px) {
    body {
        font-size: 14px;
    }

    h1 {
        display: inline-block;
        color: black;
        font-size: 1.9em;
        line-height: 40px;
    }

    :root {
        --swiper-navigation-size: 30px;
    }

    .swiper1 {
        width: 100%;
        background-color: transparent;
    }

    div.brand-subtitle p {
        font-size: 1.2em;
        opacity: 0;
        line-height: 30px;
        max-width: 100%;
    }

    .product-slider {
        width: 100%;
    }
    .product-slider-heading-wrapper{
        width: 100%;
    }

    .swiper-button-next-ps, .swiper-button-prev-ps {
        display: none;
    }

    .swiper3 {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }

    .headline-wrapper {
        margin-right: 4%;
    }

    .headline-wrapper p {
        font-size: 1.2em;
        line-height: 30px;
        max-width: 90%;
    }

    .headline-wrapper {
        margin-right: 5%;
        max-width: 90%;
    }

    .headline-wrapper p {
        max-width: 100%;
    }
    ul.bar{
        height:35px;
    }
    div.nav-back {
        height: 35px;
        background-color: #010306;
    }

    ul.bar .laptop {
        display: none;
    }

    #catalog {
        float: right;
        margin-top: 6px;
    }

    #buybag {
        float: left;
        margin-left: 3%;
    }

    .mainlogo {
        position: static;
        margin: auto;
        padding-top: 4px;
        width: 120px;


    }
    li.bar {
        width: 25px;
        padding-top: 2px;
    }
    #buybag{
        padding-top: 4px;
    }

}



